Нам предстоит выяснить, от каких самых малоприбыльных рейсов из Анапы мы можем отказаться в зимнее время.

Исходим из того, что прибыльность рейса — это разница между доходом от продаж билетов и расходом на полет.

Самая простая модель оценки прибыльности: стоимость билетов - стоимость топлива на рейс.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
#display.[max_categories, max_columns, max_colwidth, max_info_columns, max_info_rows, max_rows, min_rows]
pd.set_option('display.max_rows', 50) # показывать указанное количество строк
pd.set_option('display.max_columns', 50) # показывать указанное количество колонок

In [5]:
flights = pd.read_csv('flight_anapa_winter_2017.csv')

Посмотрим на загруженный датасет

In [12]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   flight_id            127 non-null    int64
 1   flight_no            127 non-null    object
 2   departure_city       127 non-null    object
 3   arrival_city         127 non-null    object
 4   scheduled_departure  127 non-null    object
 5   scheduled_arrival    127 non-null    object
 6   flight_time_minutes  127 non-null    int64
 7   model                127 non-null    object
 8   count_economy        127 non-null    int64
 9   boarding_economy     127 non-null    int64
 10  count_comfort        127 non-null    int64
 11  boarding_comfort     127 non-null    int64
 12  count_business       127 non-null    int64
 13  boarding_business    127 non-null    int64
 14  total_amount         127 non-null    int64
dtypes: int64(9), object(6)
memory usage: 15.0+ KB

In [13]:
flights.sample(10)

,flight_id,flight_no,departure_city,arrival_city,scheduled_departure,scheduled_arrival,flight_time_minutes,model,count_economy,boarding_economy,count_comfort,boarding_comfort,count_business,boarding_business,total_amount
8,136159,PG0252,Anapa,Moscow,2017-01-04 10:05:00.000000,2017-01-04 11:45:00.000000,98,Boeing 737-300,118,103,0,0,12,12,1700600
51,136452,PG0252,Anapa,Moscow,2017-02-17 10:05:00.000000,2017-02-17 11:45:00.000000,100,Boeing 737-300,118,98,0,0,12,11,1603000
98,136778,PG0480,Anapa,Belgorod,2017-02-22 09:25:00.000000,2017-02-22 10:15:00.000000,50,Sukhoi Superjet-100,85,84,0,0,12,12,759000
90,136729,PG0480,Anapa,Belgorod,2017-01-29 09:25:00.000000,2017-01-29 10:15:00.000000,50,Sukhoi Superjet-100,85,77,0,0,12,11,695400
26,136270,PG0252,Anapa,Moscow,2017-02-12 10:05:00.000000,2017-02-12 11:45:00.000000,99,Boeing 737-300,118,100,0,0,12,11,1628600
76,136632,PG0480,Anapa,Belgorod,2017-01-07 09:25:00.000000,2017-01-07 10:15:00.000000,51,Sukhoi Superjet-100,85,80,0,0,12,11,714300
1,136120,PG0252,Anapa,Moscow,2017-02-24 10:05:00.000000,2017-02-24 11:45:00.000000,99,Boeing 737-300,118,98,0,0,12,11,1605400
32,136316,PG0252,Anapa,Moscow,2017-01-12 10:05:00.000000,2017-01-12 11:45:00.000000,100,Boeing 737-300,118,118,0,0,12,12,1886000
38,136360,PG0252,Anapa,Moscow,2017-02-05 10:05:00.000000,2017-02-05 11:45:00.000000,100,Boeing 737-300,118,86,0,0,12,11,1455400
21,136250,PG0252,Anapa,Moscow,2017-02-08 10:05:00.000000,2017-02-08 11:45:00.000000,101,Boeing 737-300,118,91,0,0,12,8,1407800

In [14]:
flights.describe()

,flight_id,flight_time_minutes,count_economy,boarding_economy,count_comfort,boarding_comfort,count_business,boarding_business,total_amount
count,127.000000,127.000000,127.000000,127.000000,127.0,127.0,127.0,127.000000,1.270000e+02
mean,136533.574803,91.377953,102.669291,84.425197,0.0,0.0,12.0,10.023622,1.093131e+06
std,252.498327,64.377474,16.523699,27.030999,0.0,0.0,0.0,3.087262,5.525335e+05
min,136119.000000,49.000000,85.000000,0.000000,0.0,0.0,12.0,0.000000,0.000000e+00
25%,136313.000000,50.000000,85.000000,78.000000,0.0,0.0,12.0,10.000000,7.146000e+05
50%,136540.000000,99.000000,118.000000,85.000000,0.0,0.0,12.0,11.000000,7.653000e+05
75%,136757.500000,100.000000,118.000000,101.000000,0.0,0.0,12.0,12.000000,1.610300e+06
max,136956.000000,312.000000,118.000000,118.000000,0.0,0.0,12.0,12.000000,1.886000e+06

Датасет содержит данные, о рейсах их Анапы за зимний период 2017 года

flight_id - идентификатор рейса
flight_no - Номер рейса
departure_city - Город отправления
arrival_city - Город прибытия
scheduled_departure - Время вылета по расписанию
scheduled_arrival - Время прилета по расписанию
flight_time_minutes - Время полета
model - Модель самолета
count_economy - Количество мест в самолете класса эконом
boarding_economy - Количество занятых мест класса эконом
count_comfort - Количество мест в самолете класса комфорт
boarding_comfort - Количество занятых мест класса комфорт
count_business - Количество мест в самолете класса бизнес
boarding_business - Количество занятых мест класса бизнес
total_amount = Стоимость проданных билетов на рейс